form {
    /* background: url("../img/hero-bg.jpg") top center ; */
    filter: opacity(100);
    background-size: cover;
    padding-top: 3%;
    z-index: 1;
    margin-bottom: 5rem;
    height: auto;
    width: 100%;
}

form label {
    color: white;
}

input {
    margin: 0.5rem;
    resize: horizontal;
    width: 350px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border: 0;
    border-bottom: 3px solid red;
}

label {
    margin-bottom: 3rem;
    padding: 3rem;
}

input:focus {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid red;
}

textarea {
    min-width: 200px;
    min-height: 30px;
    width: 350px;
    height: 30px;
    max-width: 200px;
    max-height: 50px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border: 0;
    border-bottom: 3px solid red;
    padding: 0.5rem;
}

textarea:focus {
    background-color: rgba(0, 0, 0, 0.5);

}

#description {
    max-height: 500px;
    max-width: 500px;
    width: 350px;
    height: auto;
    min-height: 75px;
    text-align: center;
}

#actors {
    max-height: 500px;
    max-width: 500px;
    width: 350px;
    height: 25px;
    text-align: center;
}